body {
  background-color: rgb(20, 20, 20);
  color: cornsilk;
  text-align: center;
  font-size: 22px;
  align-items: center;
}

#button {
  color: white;
  background-color: rgb(107, 1, 68);
  border-style: none;
  font-size: 2em;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
}

#button:hover {
  background-color: rgb(163, 29, 114);
  cursor: pointer;
}

#button:active {
  background-color: rgb(224, 75, 169);
}

.comprar {
  border-style: none;
  background: rgb(163, 29, 114);
  color: white;
  margin-left: 5px;
  font-size: 1em;
}
.comprar:hover {
  background: rgb(224, 75, 169);
  cursor: pointer;
}

#barra{
    background-color: black;
    width: 35%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

#carga{
    background-color: blueviolet;
    height: 5px;
    width: 0%;
    display: block;
    transition-property: width;
    transition-duration: 5000ms;
}