body {
  background-color: rgb(20, 20, 20);
  color: cornsilk;
  text-align: center;
  font-size: 22px;
  align-items: center;
  font-family: 'Baloo 2', cursive;
}

#button {
  color: white;
  background-color: rgb(107, 1, 68);
  border-style: none;
  font-size: 2em;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
  font-family: 'Baloo 2', cursive;
  border-radius: 2px;
  box-shadow: 5px 9px 12px -2px rgba(0, 0, 0, 0.40);
  

}

#button:hover {
  background-color: rgb(192, 39, 136);
  cursor: pointer;

}

#button:active {
  background-color: rgb(251, 141, 211);
  color: rgb(255, 255, 255);
  box-shadow: 5px 9px 12px -100px rgb(0, 0, 0);
}

.comprar {
  border-style: none;
  background-color: rgb(163, 29, 114);
  color: white;
  margin-left: 5px;
  font-size: 1em;
  font-family: 'Baloo 2', cursive;
  box-shadow: 5px 9px 12px -2px rgba(0, 0, 0, 0.603);
  transition-property: background-color;
  transition-duration: 500ms;
}
.comprar:hover {
  background: rgb(224, 75, 169);
  cursor: pointer;
}

#barra{
    background-color: black;
    width: 35%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}

#carga{
    background-color: blueviolet;
    height: 5px;
    width: 0%;
    display: block;
    transition-property: width;
    transition-duration: 10000ms;
}

a{
  color: aliceblue;
  transition-property: font-size;
  transition-duration: 500ms;
}
a:hover{
  color: blueviolet;
  font-size: 25px;
}